<section class="mainContent">
    
    <div class="chatContentTeam">
        <h1 class="titlePag">CHAT de equipo</h1>

        <div class="boxChat">
            <p id="messageLogsTeam"></p>
        </div>
        <div>
            <input type="text" id="chatBoxTeam" class="inputChat" placeholder="Tu mensaje">
        </div>
    </div>

</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/config.chatTeam.js"></script>
<script>
  
  const teamId = "{{ teamId }}"; 
</script>

