<section class="mainContent">
<form method="POST" action="/createTeam" class="loginForm">
    <label>nombre del grupo</label>
    <input type="text" name="nameTeam"></input>
    <label>contraseña del grupo</label>
    <input type="password" name="password"></input>
    <button type="submit">crear team</button>
</form>
</section>