
<section class="mainContent">
    
<div class="chatContent">
    <h1 class="titlePag">CHAT PRINCIPAL</h1>

    <div class="boxChat">
        <p id="messageLogs" ></p>
    </div>
    <div>
        <input type="text" id="chatBox" class="inputChat" placeholder="Tu mensaje"></input>
    </div>
</div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
