<section class="mainContent">
<form action="/joinTeam" method="POST" class="loginForm">
    <label>nombre del grupo</label>
    <input type="text" name="nameTeam"></input>
    <label>contraseña del grupo</label>
    <input type="password" name="password"></input>
    <button type="submit" >unirme a team</button>
</form>
</section>