<section class="mainContent">
        <form id="loginForm" class="loginForm" method="POST" action="/login" >
            <h1 class="titlePag">Login</h1>
            <label for="username">Username</label>
            <input type="text" name="username" id="username"></input>
            <label for="password">Password</label>
            <input type="password" name="password"></input>
            <button type="submit">iniciar sesion</button>
        </form>
        <h3 >{{errorLogin}}</h3>
        <a class="linkRegister" href="/register">crear cuenta</a>

</section>

